<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/CreateAccount.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Create Account</h2>
        <form method="POST" id="createAccountForm" action="">
          {% csrf_token %}
          {{form.as_p}}


          <input type="submit" name="Create User">
        </form>

        {{form.errors}}
        <p class="login-link">Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
        <p class="signup-link">Want to go back? <a href="{% url 'home' %}">home</a>.</p>
    </div>
</body>
</html>
