<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutors4You Login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/Loginpage.css' %}">
</head>
<body>
  <div class="login-container">
    <h2>Login to Tutors4You</h2>
    <form method="POST" id="loginForm">
      {% csrf_token %}
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Login</button>
      <p class="signup-link">Don't have an account? <a href="{% url 'createAccount' %}">Sign up here</a>.</p>
      <p class="signup-link">Want to go back? <a href="{% url 'home' %}">home</a>.</p>
    </form>
  </div>
  {% for message in messages %}
    <p id=messages"> {{message}}</p>
  {% endfor %}
  <script src="script.js"></script>
</body>
</html>
